/* SETTINGS
///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////
*/
/*font settings*/

$font-size-base: 100%;
$font-family: "Maven Pro", sans-serif;
a {
  color: #fff !important;
}

/*color settings*/
$color-text: #333333;
$color-primary: #ffa904;
$color-secondary: #0262b8;
$color-secondary-pointer: #538dc1;


/* IMAGES
///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////
*/

  .trainers {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: .625rem;
    border-radius: 50%;
  }

/* CONTAINERS
///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////
*/
  .full-width-container {
    margin: 1.25rem;
  }

