
/* SETTINGS
///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////
*/
/*clearfix*/
html { box-sizing: border-box; }
*,
*:before,
*:after { box-sizing: inherit; }

menu,
nav {
    display: block;
}

/*font*/
$font-size-base: 100%;
$font-family: "Maven Pro", sans-serif;

/*color*/
$color-text: #333333;
$color-primary: #ffa904;
$color-secondary: #0262b8;
$color-secondary-pointer: #538dc1;

/*general*/
body {
    color: $color-text;
    background: #f6f6f6ff;
    text-align: center;
    margin: 0;

    font: {
        size: 100%;
        family: $font-family;
        weight: 400;
    }
}

article {
    max-width: 100%;
}


/* CONTAINERS
///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////
*/
.content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.position-clearfix {
    padding: 1.25rem 2.5rem;
}

.content-bar {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    max-width: 100%;
    flex-grow: 4;
    padding-left: 18rem;
    margin-bottom: 3.125rem;
}

.full-width {
    max-width: 62.5rem;
    height: auto;
}

.half-width {
    max-width: 28.125rem;
    height: auto;
}


.full-width-container {
    max-width: 100%;

    img {
        max-width: 100%;
    }
}

.flex-box {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-box-container {
    flex: 0 0 50%;
    text-align: center;
    img {
        max-width: 100%;
        height: auto;
    }
}

.flex-box-container1-4{
    display: flex;
    flex-wrap: nowrap;
    flex: 0 0 25%;
    max-width: 100%;
}

.flex-box-container1-3 {
    flex: 0 0 33%;
    margin-top: 1.25rem;

    img {
        max-width: 100%;
        height: auto;
        padding-left: .625rem;
    }

    p {
        padding: 1.25rem;
    }
} 

.flex-box-container2-3 {
    flex: 0 0 66%;
    margin-top: 1.25rem;

    img {
        max-width: 37.5rem;
        height: auto;
    }
}

/* TYPOGRAPHY
///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////
*/

h1 {
	font-size: 4.6875rem;
	text-transform: uppercase;
    color: $color-secondary;
    font-weight: 600; 
}

h2 {
	font-size: 1.5625rem;
	font-weight: 600;
    color: $color-secondary;
    text-transform: uppercase;
}

h3 {
    color: $color-secondary;
    text-transform: uppercase;

	font: {
		size: 1.125rem;
		weight: bold;   
	}
}

p {
    font-size: 1.125rem;
    line-height: 1.5625rem;
}

.checkbox-li {
    font-size: .9375rem;
    text-align: left;
    margin: 0;
    padding: 0;
}

.left-h3 {
    text-align: left;
    margin: 0;
    padding: 0;
}

.left-p {
    text-align: left;
}

.long-word {
    word-break: break-word; 
    }

/* BUTTONS
///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////
*/
button {
    color: white;
    background: $color-primary;
    padding: .625rem;
    
    border-radius: .3125rem;
    border: none;
   
  }
  
  button:hover {
    background: $color-secondary;
  }
  
  .button-display {
    display: none;
}

.prev,
.next {
  color: $color-primary;
  font-size: 3.125rem;
  cursor: pointer;

  &:focus,
  &:hover {
    color: $color-secondary ;
  }
}



/* ANIMATIONS
///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////
*/
@keyframes fadeEffect {
    from {opacity: .4}
    to {opacity: 1}
  }

/* mediaqueries
///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////
*/
@media (max-width: 1300px) {

    .flex-box-container {
        flex-direction: row;
        flex-wrap: no-wrap;
        flex: 100%;
    }

    .flex-box-container2-3 {
        flex-direction: row;
        flex-wrap: no-wrap;
        flex: 100%;
    }

    .flex-box-container1-3 {
        flex-direction: row;
        flex-wrap: no-wrap;
        flex: 50%;
    }
    
   .left-h3 {
    text-align: center;
    }

    .left-p{
    text-align: center;
    }

    table {
    margin: 0 auto;
    text-align: center;
    }


}


@media (max-width: 1100px){
    .flex-box-container1-3 {
        flex-direction: row;
        flex-wrap: no-wrap;
        flex: 100%;
   }

   .flex-box-container2-3 {
        flex: 100%;

        img {
            max-width: 100%;
            height: auto;
        }
}
}

@media (max-width: 1070px){
    span {
        display: none;
    }
    
    .slide {
      margin-top: 2rem;
    }
        
    .dots-container {
        display: none;
    }
    
    .button-display {
        display: block;
        margin: 0 auto;
    }
    
    .slideshow-container {
        margin-bottom: 40px;
    }
}











